In [1]:
# Generate a csv with tabular data containing age, height and weight and gender of 20 students 
import pandas as pd

# Generate random data
import random
import numpy as np

np.random.seed(0)
random.seed(0)

TotalRecords = 20

# Generate random ages between 18 and 25
ages = np.random.randint(18, 26, TotalRecords)

# Generate random heights between 150 and 200
heights = np.random.randint(150, 201, TotalRecords)

# Generate random weights between 50 and 100
weights = np.random.randint(50, 101, TotalRecords)

# Generate TotalRecords count of either M or F for male or female in a np array
gender = np.random.choice(['M', 'F'], TotalRecords)

# Create a DataFrame
df = pd.DataFrame({'Age': ages, 'Height': heights, 'Weight': weights, 'Gender': gender})

# Save the DataFrame to a csv file
df.to_csv('myFile.csv', index=False)

df.head()

/Users/pgmenon/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

   Age  Height  Weight Gender
0   22     188      99      M
1   25     189      79      F
2   23     173      69      F
3   18     196      69      M
4   21     174      64      M

In [2]:
# write me a python script to read a csv file and create a pandas data frame of it, assuming the file is myFile.csv in the local directory
import pandas as pd
df_reRead = pd.read_csv('myFile.csv')
df_reRead

    Age  Height  Weight Gender
0    22     188      99      M
1    25     189      79      F
2    23     173      69      F
3    18     196      69      M
4    21     174      64      M
5    21     167      89      M
6    21     187      82      F
7    25     175      51      F
8    19     163      59      M
9    21     158      82      F
10   23     159      81      M
11   20     170      60      M
12   22     166      73      F
13   25     155      85      M
14   24     165      61      F
15   18     197     100      F
16   18     150      78      F
17   22     168      84      F
18   20     185      50      F
19   19     174      50      F